.btn-primary {
    background-color: #0087ff !important;
    border-color: #0087ff !important;
}

.btn-outline-primary {
    color: #0087ff !important;
    border-color: #0087ff !important;
}

.btn-outline-primary:hover {
    background-color: #0087ff !important;
    color: white;
}

.bg-primary {
    background-color: #0087ff !important;
}

.bg-primary-opacity-10 {
    background-color: rgba(0, 135, 255, 0.1) !important;
}


.text-primary {
    color: #0087ff !important;
}